<%- include("../port/layout-start") %>
<%- include("../port/header", { user: user }) %>

<h2 class="page-header">Изменить книгу <%= book.title %></h2>
<form class="form_update-book" action="/api/books/<%= book._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <label class="update-book_favorite-label">
    <span class="update-book_favorite-desc">Добавить в избранное</span>
    <input class="update-book_favorite-input" name="favorite" type="checkbox" value="true" <%= (book.favorite === true ? "checked" : "") %>>
  </label>
  <label class="update-book_name-label">
    <span class="update-book_name-desc">Название книги:</span>
    <input class="update-book_name-input" name="title" type="text" value="<%= book.title %>">
  </label>
  <label class="update-book_authors-label">
    <span class="update-book_authors-desc">Авторы:</span>
    <input class="update-book_authors-input" name="authors" type="text" value="<%= book.authors %>">
  </label>
  <label class="update-book_desc-label">
    <span class="update-book_desc-desc">Описание книги:</span>
    <textarea class="update-book_desc-textarea" name="description"><%= book.description%></textarea>
  </label>
  <label class="update-book_file-book_label">
    <span class="update-book_file-book_desc">Текст книги:</span>
    <input class="update-book_file-book_input" name="book" type="file" accept=".txt">
  </label>
  <button class="update-book_submit">Изменить</button>
</form>

<%- include("../port/layout-end") %>
