<%- include("../port/layout-start") %>
<%- include("../port/header", { user: user }) %>

<h2 class="page-header"><%= book.title %></h2>
<div class="book-wrp">
  <div class="book-views-count-wrp">
    <span class="book-view-count-desc">Количество просмотров: </span>
    <span class="book-view-count"><%= viewsCount %></span>
  </div>
  <% if (book.favorite === true) { %>
    <div class="book-favorite">Избранная книга</div>
  <% } %>
  <div class="book-name">Название: <%= book.title %></div>
  <div class="book-authors">Авторы: <%= book.authors %></div>
  <div class="book-description">Описание: <%= book.description %></div>
  <form class="book-download-form" action="/api/books/<%= book._id %>/download">
    <button class="book-download-form-submit">Скачать</button>
  </form>
  <div class="book-chat">
    <h3>Комментарии</h3>
    <div class="book-chat-messages-list">
      <% book.comments.map((comment, index) => { %>
        <div class="book-chat-message">
          <div class="book_name">
            Автор: <%= comment.username === "" ? "Аноним" : comment.username %>
          </div>
          <div class="book_actions">
            <%= comment.message %>
          </div>
        </div>
      <% }); %>
    </div>
    <form class="book-chat-form">
      <input class="book-chat-form-input" name="book-chat-form-input" type="text" placeholder="Ваш комментарий" required>
      <button class="book-chat-form-send">Отправить</button>
    </form>
  </div>
</div>
<script>
  const username = "<%- user && user.username %>";
</script>
<script src="/js/chat.js"></script>

<%- include("../port/layout-end") %>
